.my-multiselect {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    border: 1px solid #85cff9;
    border-radius: 8px;
    background: #b9d9f5;
    width: fit-content;
    min-width: 200px;
}

.my-multi-item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 4px;
    transition: background 0.2s;

    &.disabled {
        opacity: 0.5;
    }
}

.my-multi-checkbox {
    width: 16px;
    height: 16px;
    cursor: inherit;
}

.my-multi-label {
    flex: 1;
}